html{
  scroll-behavior: smooth;
}

.navbar{
    background-color: rgba(0, 198, 168, 0.992);
    width: 100%;
    height: 100px;
}
.navbar-brand{
    margin-left: 5%;
}
.navbar-brand span{
    font-family: 'Fredoka One', cursive;
    padding:10%;
    font-size: 30px;
    font-weight: 500;
    color: white;
}

.nav-item img{
    color:white;
    font-size: 40px;
    align-items: center;
    margin-bottom: 10%;
    text-decoration: none;
    margin-right: 10%;
}

.navbar-nav{
    margin-right: 5%;
}
#hamburger{
  float:right;
  padding: 0px 0px;
  margin-top: -15px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 35px;
}
#hamburger:hover{
  color: #fff;
}
  .nav{
    height: 70px;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-decoration: none;
    color: white;
    font-family: 'Fredoka One', cursive;
    align-items: center;
    justify-content: end;
    padding-right: 15%;
  }

  .nav-link.dropdown-toggle{
    text-decoration: none;
    font-size: 20px;
    color: black;
  }

  .nav-link.dropdown-toggle:hover{
    background-color: rgba(0, 198, 168, 0.992);
    text-decoration: none;
  }
  .nav-item{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 12px;
    
  }
  .nav-item:hover{
    background-color: rgba(0, 198, 168, 0.992);
    text-decoration: none;
  
  }
  .nav-item a{
    color:#0b0b0b;
  }
  .nav-itemm span{
    text-decoration: none;
    font-size: 20px;
    color: #0b0b0b;
    display: none;
  }
  /*hero*/

 .lead {
  justify-content: start;
  color: rgb(0, 0, 0);
  text-align: justify;
  font-size: 30px;
 }
 
 .fw-bold{
  text-align: start;
  margin-left:-5%;
  font-size: 45px;
 }
 

   /*fitur1*/
   
  .row{
    padding-top: 20px;
    border-top: 1px solid rgb(215, 215, 215);
    justify-content: center;
    padding-bottom: 40px;
  }
  .row.g-0{
    padding-top: 20px;
    border-top: 0px solid rgb(215, 215, 215);
    justify-content: center;
  }

  .row.mb-2 h1{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    padding:20px;
  }

/*fitur2*/
.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  width: 50%;
  height: auto;
  border-radius: .75rem;
}
.feature-icon img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 3px;
  border: 0px solid black;
  box-shadow:  rgba(0, 0, 0, 0.467) 3px 3px 8px;
}
.feature.col h2{
  text-align: center;
  font-family: 'Fredoka One', cursive;
  color:  rgba(0, 198, 168, 0.992);
}
.feature.col h3{
  text-align: center;
  font-family: 'Fredoka One', cursive;
  color:  rgba(0, 0, 0, 0.992)
}
.feature.col p{
  text-align: justify;
  padding-left: 5px;
}
.btn.btn{
 text-align: center;
 justify-content: center;
 align-items: center;
 right: 50%;
}
.row h1{
  font-family: 'Fredoka One', cursive;
  text-align: center;
  padding:20px;
}
.icon-link {
  display: inline-flex;
  align-items: center;
}
.col-lg-3{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card img{
  box-shadow: rgba(0, 198, 168, 0.992) 0px 3px 8px;
}
.card{
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.card-text{
 text-align:justify;
}
.card a{
 border: 1px solid rgba(0, 198, 168, 0.992) ;
 background-color: rgba(0, 198, 168, 0.992) ;
 color: white;

}
/*blog*/
.blog{
  border-top:1px solid rgb(215, 215, 215);
  margin-top: 20px;
}
.blog h1{
  text-align: center;
  font-family: 'Fredoka One', cursive;
  color:  rgba(0, 0, 0, 0.992);
  padding: 20px;
}
.col-lg-4 img{
  text-align: center;
  width: 100%;
  height: 50%;
}
.col-lg-4 {
  text-align: center;
  font-size: 18px;
}
.col-lg-4 h3{
font-size: 20px;
}
.lainnya {
  justify-content: end;
  text-align: end;
}

/*slide*/ 

  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  .carousel-item {
    height: 32rem;
    background-color: #cbc9c9;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
  }
  .carousel.slide{
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 4px;
  }
  .carousel-control-next-icon{
    border: 1px solid black;
    background-color: #0b0b0b;
  }
  .carousel-control-prev-icon{
    border: 1px solid black;
    background-color: #0b0b0b;
  }

  /* Footer */

  .shadow-content {
    box-shadow: 0 -2px 10px #e5e5e5;
  }
  
  .Didukung {
    width: 25vh;
    height: 10vh; 
    margin-top: 25px !important;
    display: block;
    margin: 0 90px;
  }

.fhi {
  font-family: 'Fredoka One', cursive;
  font-size: 20px;
  font-weight: 100;
}
#myBtn{
right: 10%;
cursor: pointer;
position: fixed;
border: none;
bottom: 5%;
border: none;
display: none;
border-radius: 50%;
width: 0px;
height: 0px;
background-color: white;
}
.backTop img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:  rgba(0, 198, 168, 0.992);
}

.sosmed > img{
  width: 50px;
  /* float: right; */
  padding-right: 15px;
  align-items: center;
}

.footer2 {
  padding-bottom: 10px !important;
}

.copyright {
  background-color: rgba(0, 198, 168, 0.992);
  color: #fff;
  padding: 10px 0px;
}

.credit {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
 }